<%- include('partials/header', {baseurl: baseurl}); -%>
<section class="main-section">
<% if(mode == 'login'){ %>
    <%- include('login'); -%>
<% } %>
<% if(mode == 'register'){ %>
    <%- include('register'); -%>
<% } %>
<% if(mode == 'loggedin'){ %>
    <%- include('dashboard'); -%>
<% }%>
<% if(mode == 'createcall'){ %>
    <%- include('call'); -%>
<% }%>
</section>
<%- include('partials/footer', {baseurl: baseurl}); -%>